body {
	margin: 0;
	padding: 0;
	font-family: monospace;
	height:100%
}

.wrapper {
	display: grid;
	grid-template-rows: min-content auto min-content;
	grid-template-columns: 1fr;
	grid-template-areas:
		"header"
		"main"
		"footer";
	min-height: 100vh;
	max-width: 100vw;
	
}

header {
	grid-area: header;
	background-color: hsl(34, 78%, 91%);
	font-size: 1em;
}

header > nav > ul {
	display: grid;
	grid-template-areas: 
	"hem vad vad anvandning anvandning";
	grid-template-columns: repeat(5,1fr);
	padding-inline-start: 0;
	margin: 0;
}

nav > ul > li {
	display: grid;
	background-color: hwb(180 0% 0%);
	font-size: 2em;
}

header > nav > ul > li:first-child {
	grid-area: hem;
	height: 100%;
}

header > nav > ul > li:nth-child(2) {
	grid-area: vad;
	height: 100%;
}

header > nav > ul >li:last-child {
	grid-area: anvandning;
	height: 100%;
}

li a{
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	height:100%;
	display: flex;
  	justify-content: center;
 	align-items: center;
	font-size: 2rem;
}

h1{
	font-size: 2rem;
}

header > nav > ul > li:not(:first-child){
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 2fr 1fr;
}

header > nav > ul > li:not(:first-child) > section{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	position: relative;
}

header > nav > ul > li:not(:first-child) > section section{
	position: absolute;
	height: min-content;
	width: 100%;
	background-color:aquamarine;
	top: calc(100%);
	border-radius: .25rem;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
	opacity: 0;
	pointer-events: none;
	transform: translateY(-10px);
	transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

header > nav > ul > li:not(:first-child) > section > button:hover + section, header > nav > ul > li:not(:first-child) > section > section:hover, header > nav > ul > li:not(:first-child) > section > button:focus-within + section, header > nav > ul > li:not(:first-child) > section > section:focus-within{
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}

header > nav > ul > li:not(:first-child) > section section ul{
	text-decoration: none;
	width: 100%;
	height: min-content;
	list-style: none;
	padding: 0;
}

header > nav > ul > li:not(:first-child) > section li{
	height: min-content;
	width:100%;
	margin-top: 0;
	margin-bottom: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-evenly;
}

header > nav > ul > li:not(:first-child) >section a{
	height: 100%;
	width:100%;
	max-width: 100%;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 100%;
}

nav button{
	margin: 0;
	padding: 0;
	border: 0;
	background-color: inherit;
	height: 100%;
}

nav button img{
	width: auto;
	height: 1rem;
	transition: transform 150ms ease-in-out;
	margin-left: auto;
	margin-right: auto;
}


main {
	grid-area: main;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	min-height: 100%;
}

#index main {
	grid-template-columns: 1fr;
}

#industriellanvandning main{
	grid-template-columns: 1fr 1fr 1fr;
}

main section, main article{
	display: flex;
	justify-content: center;
	/*margin-right: 20px;
	margin-left: 20px;*/
	margin: 2ex;
	font-size: 1.2em;
	/*padding:10px;
	padding-left: 20px;
	padding-right: 20px;*/
	background-color: rgb(153, 149, 149);
	border-radius: 1ch;
}

footer {
	grid-area: footer;
	margin:0;
	padding:0;
	height: 70px;
	width:100%;
	text-align: center;
	background-color: rgb(0, 0, 255);
}

main img{
	max-height:100%;
	max-width: 100%;
	display: block;
	margin: auto;
}

figcaption{
	text-align: center;
}

video, audio{
	width: auto;
	max-width: 95%;
	height: auto;
	max-height: 95%;
	margin: auto;
}

nav a{
	text-decoration: none;
	text-transform: uppercase;
}
table{
	table-layout:fixed;
}
td, th{
	overflow: hidden; 
    text-overflow: ellipsis; 
    word-wrap: break-word;
}

table, dl, ol {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0; /* To ensure consistent border spacing */
}

th, td, dt, dd, ol li {
	border: 1px solid #f81b1b;
	text-align: left;
	padding: 10px; /* Adjust padding as needed */
	vertical-align: top; /* Align content to the top */
}

th {
	background-color: #f2f2f2;
}

tfoot, dt {
	font-weight: bold; /* Make the footer text bold */
}

tbody tr:nth-child(odd) {
	background-color: #beb9b9;/* Zebra striping */
}

dl{
	background-color: rgb(255, 255, 0);
}
ol{
	padding: 0;
}

fieldset{
	border-color: #f81b1b;
}

form input, form button, form{
	margin: 10px;
}




a:link{
	color: purple;
}

a:visited{
	color: red;
}

a:focus, a:hover{
	background-image: linear-gradient( /* gör en bakgrunds bild med dessa färger som är roterade på de grandantal so manges och färgerna täcker den procent som anges. */
		-225deg,
		rgb(70,42,168) 0%,
		rgb(96,25,172) 25%,
		rgb(255,19,97) 50%,
		rgb(255,248,0) 75%,
		rgb(70,42,168) 100%
	);
	background-clip: border-box; /* sammarbetar med background-image och skapar en låda under innehålet den är på. */
	background-size: 200% auto; /* bilden blir 200% större och repeteras automatiskt. */
	animation: färgsnurra 5s linear infinite; /* */
	border-radius: 10px;
}

a:active{
	color: hotpink;
}


@keyframes färgsnurra { /*en nyckelrams animering som jag namngett färgsnurra, specifierar en övergång från nuvarande till målet, använder "to" som säger att målet är när den är helt ur skärmens storlek, 200% från vänster. I samband med att bakgrunden looper oändligt gör att det blir en fin övergång mellan start och slutet på de olika "sidorna"*/
	to {
		background-position: 200% center; 
	}
}


@font-face {
	font-family: JohansFont;
	src: url();
}

@media screen and (max-width: 630px){
	header > nav > ul {
		grid-template-areas: 
		"hem hem" 
		"vad anvandning"
		"vad anvandning";
		grid-template-columns:1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}

	main {
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}

	header > nav > ul > li:not(:first-child) > section li{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	main section, main article{
		
		padding-left: 40px;
		padding-right: 40px;
	}

}