
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------Börjar med grund regler och layout------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

body {/*innehåller allt innehåll på sidan*/
	margin: 0; /* Återställer marginalen till 0 för att undvika ovälkomna utrymmen */
	padding: 0;/*samma men för padding*/
	font-family: monospace;/*sätter font familyn till mitt favorit typsnitt vilket är monospace vilket alla kan använda*/
	height:100vh; /*Sätter storleken till 100vh*/
}

.wrapper {/*innehåller all praktiskt innehåll på sidan, börjar med layouten, påverkar klassen wrapper som är en av de två sakerna som finns i body*/
	display: grid;/*gör ett gridsystem för sidan*/
	grid-template-rows: min-content min-content auto min-content;/*specicerar delarnas höjd, header, nav och footern får precis den platsen som de behöver medans main fyller på automatiskt*/
	grid-template-areas:/*sätter it arearona på deras platser*/
		"header"
		"nav"
		"main"
		"footer";
	min-height: 100vh;/*gör så att innehållet inte blir mindre än en skärms höjd*/
	max-width: 100vw;/*ser till att innehållet inte blir bredare än skärmens bredd*/
	
}

body > p{/*gömmer mitt felmedellande by default, påverkar p taggar som är direkt innuti body, vilket bara finns 1 av*/
	display: none;/*gör att felmedellandet göms*/
}



/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------Regler för Header och nav, börjar med grundregler, sedan layout och sen mer specifikt----------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

header {/*påverkar elementet header*/
	grid-area: header;/*sätter ut detta på wrapperns grid area på header platsen*/
}

header > nav > ul {/*globala menyn och deras layout samt lite små styling, påverkar ul taggar som är direkt inuti nav som är direkt inuti header*/
	display: grid;/*sätter en grid inuti så det går att dela upp det*/
	grid-template-areas: 
	"hem vad vad anvandning anvandning";/*definerar de 3 areorna,*/
	grid-template-columns: repeat(5,1fr);/*sätter ut 5 kolumner, använder repeat saken så jag slapp skriva 1fr 5 gånger*/
	padding:0;/*tar bort padding som automatiskt finns på ul*/
	margin: 0;/*samma men margin*/
}

nav > ul > li {/*påverkar li direkt inom ul direkt inom nav*/
	display: grid;/*sätter it em grid så hela ytan är klickbar*/
	background-color: hwb(180 0% 0%); /*sätter bakgrundsfärgen till en fin blå*/
}

header > nav > ul > li:first-child {/*påverkar den första li som är direkt inuti ul, direkt i nav direkt i header*/
	grid-area: hem;/*sätter ut den på headernavul gridden*/
	height: 100%;/*sätter storleken till 100% för att fylla ut hela griden så det inte blir några mellanrum för andra element i griden är större*/
}

header > nav > ul > li:nth-child(2) {/*samma men för #2*/
	grid-area: vad;/*samma men annan plats*/
	height: 100%;/*samma*/
}

header > nav > ul >li:last-child {/*samma men för sista*/
	grid-area: anvandning;/*samma men annan plats*/
	height: 100%;/*samma*/
}

a{/*påverkar alla a element i hela koden*/
	display: flex;/*definerar en flex system eller vad det kallas på alla a element*/
  	justify-content: center;/*ser till att innehållet blir centrerat horizonetllt i platsen den får*/
 	align-items: center;/*centrerar innehållet vertikalt*/
	font-size: 2rem;/*sätter textstorleken till 2 större än rotelementets textstorlek*/
}

main a{/*påverkar alla a taggar inom main*/
	font-size: inherit;/*ger den storleken som tidigare element hade*/
	margin: 10px;/*sätter lite margin på a taggarna så att de inte ligger precis intill någon kant*/
}
h1{/*påverkar h1, titel elementet*/
	font-size: 2rem;/*sätter textstorleken så det är lite större än de andra i header elementet*/
	font-family: JohansFont, monospace;/*Bestämmer vilken ordning som fonten ska appliceras, först blir min egna fontface som är med en font som jag laddat ner, om inte det funkar så blir det default monospace*/
}

header + nav{/*påverkar nav direkt efter header elementet*/
	grid-area: nav;/*sätter ut innehållet inom wrapperns areor*/
	height: 100%;/*maxar ut storleken som den får och behöver*/
	margin-top: 10px;/*sätter margin på toppen så innehållet inte ligger för nära header*/
	background-color: #00ffff;/*sätter en bakgrundsfärg på naven*/
	min-height: 30px;/*satte en minimum storlek så ytan inte blir för liten*/
	position: relative;/* Positionerar elementet relativt dess normala läge */
}


header + nav section{/*påverkar alla sectioner  som finns inuti naven som är efter header*/
	position: absolute;/*positionerar elementet relativt till förälderelementet(header+nav position:relative saken*/
	height: min-content;/*sätter höjden till innehållets storlek*/
	width: 100%;/*sträcker sig över hela skärmens bredd*/
	background-color:aquamarine;/*bakgrundsfärg*/
	top: 100%;/*sätter marginen för toppen vilket är 100% av dess blocks storlek, aka den sätts under självaste header+nav saken*/
	box-shadow: 0 10px 50px 0 rgba(0, 0, 0, .5); /*gör en skuggningseffekt som har 10px vertical offset, 50px blur radius som är avståndet, den sista är färgen och opacityn på den*/
	opacity: 0;/*sätter synligheten på innehållet till 0*/
	pointer-events: none;/*gör så att man inte kan interagera med innehållet även om det finns där som osynligt*/
	transform: translateY(-10px);/*gör en transformation där innehållet är normalt 10px upp men när den aktiveras åker den ner*/
	transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;/*gör en css animation transition där opacityn blir som eftersökt när den aktiveras, händer under 150ms, är en mjuk övergång, aktiverar även transformen ovan med samma tid och samma mjukhet så allt kommer i en enda fin övergång*/
}

header + nav:hover section, header + nav:focus-within section{/*påverkar section inom nav när den hoveras som är efter header eller section när naven har focus på antingen sig själv eller sitt innehåll*/
	opacity: 1;/*sätter om opacityn på innehållet till helfärgat*/
	transform: translateY(0);/*flyttar på innehållet till sin orginella position*/
	pointer-events: auto;/*återställer musens möjlighet att interagera med innehållet*/
}

header + nav ul/*påverkar alla ul inom nav som är efter header*/
{
	padding: 0;/*tar bort den automatiska paddingen*/
}

header + nav li, header + nav/*påverkar li inom nav efter header och nav efter header*/
{
	margin-top: 0;/*tar bort mellanrummet mellan */
	display: flex;/*gör display flex för att lättare centrera allt*/
	flex-direction: column;/*gör så att innehållet i dropdownmenyn sträcker sig över hela skärmen och är lättare klickad*/
}

li a{/*påverkar alla a element inom en li*/
	text-align: center;/*centrerar texten som finns*/
}

nav button{/*påverkar alla buttons inom nav*/	
	border: 0;/*tar bort bordern som button har*/
	background-color: inherit;/*får samma bakgrund som tidigare vilket är den fina blå*/
	height: 100%;/*sätter höjden på 100% så att inte sectionen under den trycker upp den*/
}

nav button img{/*påverkar img inom button inom nav*/
	height: 1rem;/*sätter en höjd av storleken 1rem på bilden, blir automatiskt samma på bredden också*/	
}

nav a{/*påverkar alla a element inom nav*/
	text-decoration: none;/*tar bort underlinen på alla länkar inom nav*/
	text-transform: uppercase;/*gör om all text till stora bokstäver*/
}



/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------Börjar med allting inom main---------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

main {/*påverkar elementet main*/
	grid-area: main;/*sätter ut området på wrapperns grid areor*/
	display: grid;/*skapar en ny grid inuti den*/
	grid-template-columns: 1fr 1fr;/*skapar 2 kolumner inom griden*/
}

#index main {/*gör en unik enspaltsläayout för startsidan, id på indexens body*/
	grid-template-columns: 1fr;/*ändrar kolumnerna till 1*/
	background-color: rgb(128, 0, 128);/*ändrar bakgrundsfärgen för att mer tydligt se att den är unik*/
}

#industriellanvandning main{/*samma men för industriellanvändning sidan*/
	grid-template-columns: 1fr 1fr 1fr;/*trespaltslayout istället för standard 2*/
	background-color: hwb(25 12% 18%);/*ändrar bakgrundsfärgen*/
}

main section:not(:first-child), main article:not(:first-child){/*påverkar alla sections och articles inom main som inte är den första på sidan*/
	background-color: rgb(153, 149, 149);/*ändrar default färgen från brun till en fin grå*/
}

main section, main article{/*påverkar alla sections or articles inom main*/
	display: flex;/*gör dem till flex*/
	justify-content: center;/*centrerar innehållet horizontellt*/
	align-items: center;/*ifall det är mer innehåll i varje section så ser detta till att deras mittpunkt vertikalt är på samma nivå*/
	margin: 2ex;/*ser till att det är lite mellanrum mellan varje section och artikel*/
	font-size: 1.2em;/*ändrar storleken till 1.2em då det passar väl*/
	background-color: rgb(117, 90, 1);/*sätter bakgrundsfärgen på alla sections till brun(den tidigare selektorsaken motverkar detta på alla utom den första*/
	border-radius: 1ch;/*rundar hörnen med intensiteten 1ch*/
	height: min-content;/*ser till att höjden inte är större än precis det som behövs*/
}

main img{/*påverkar alla bilder inom main*/
	max-width: 100%;/*ser till att bilderna inte tar mer bredd än vad som finns inom sectionen för att hålla gridlayouten*/
}

figcaption{/*påverkar figcaption som ska ge en bit text till figure vilket innehåller bilder*/
	text-align: center;/*centrerar texten*/
}

video, audio{/*påverkar video och ljud element*/
	width: auto;/*breddas automatiskt ut efter dens plats*/
	max-width: 95%;/*gör inte elementet större än 95% av sin ytans utrymme*/
	height: auto;/*samma som med width*/
	max-height: 95%;/*samma som med width*/
	margin: 10px;/*ser till att det alltid är lite avstånd från kanterna*/
}

td, th{/*påverkar td och th vilket är självaste texten och innehållet i tabellen utom footern*/
    word-wrap: break-word;/*ser  till att om innehållet är större än rutan att order bryts och inte överlappar till andra rutor*/
}

table, dl, ol {/*påverkar tabell, deskriptiv list och ordered list*/
	width: 100%;/*ser till att det tar upp 100% av platsen den får och inte mer eller mindre*/
	border-collapse: collapse;/*om det är 2 borders som rör samma kant så blir de samma*/
	border-spacing: 0; /*mestadels för kravet men ser till att avståndet mellan varje cell i en tabell är 0, går att specifiera avståndet både vertikalt och horizontellt*/
	margin-left: 5px;/*detta tillsammas med nästa sers till att det är lite mellanrum där jag ansåg att det behövdes*/
	margin-right: 5px;
}

table{/*påverkar hela tabellen*/
	table-layout:fixed;/*ser till att layouten av tabellen är bestämd, vilket är 100% av ytan den får*/
	margin: 10px;/*sätter avstånd mellan kanterna av tabellen och sectionen*/
}

th, td, dt, dd, ol li {/*påverkar th, td, dt, dd och li inom en ol*/
	border: 1px solid #f81b1b;/*ger dem en kant som är 1px solid röd färg*/
	text-align: left;/*gör att texten är åt vänster i tabellen för jag anser att det är bättre*/
	padding: 10px; /*ser till att texten alltid har lite avstånd från sin cells border*/
	vertical-align: top; /*gör att innehållet är så högt uppåt det kan*/
}

th {/*påverkar enbart th element*/
	background-color: #f2f2f2;/*sätter en unik bakgrundsfärg*/
}

tfoot, dt {/*påverkat footern*/
	font-weight: bold; /*gör texten fetstild*/
}

tbody tr:nth-child(odd) {/*påverkar de udda av tr inom tbody, enbart för din zebra striping krav*/
	background-color: #beb9b9;/* annan färg för zebra striping */
}

dl{/*påverkar dl*/
	background-color: rgb(255, 255, 0);/*mycket fin bakgrundsfärg*/
}

ol{/*påverkar ol*/
	padding: 0;/*tar bort padding som automatiskt finns med ols siffror*/
}

fieldset{/*påverkar fieldset som är runt formuläret*/
	border-color: #f81b1b;/*sätter en färg på kanten*/
}

form input, form button, form{/*påverkar alla inputs och buttons inom form, samt självaste form*/
	margin: 10px;/*sätter mellanrum mellan alla inputs och liknande så varje del inte är för nära de andra*/
}

form{/*påverkar hela formuläret*/
	width: 100%;/*sätter storleken till 100% av sin ytas storlek*/
}



/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------Börjar med footer regler-----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

footer {/*påverkar footer elementet*/
	grid-area: footer;/*sätter ut elementet i wrapperns grid system*/
	height: 70px;/*sätter en fast storlek på footern*/
	text-align: center;/*centrerar texten i footern*/
	background-color: rgb(0, 0, 255);/*sätter en bakgrundsfärg*/

}

footer p{/*påverkar p element inom footer*/
	margin-top: 5px;/*sätter ett avstånd från toppen på 5px*/
}

footer p::first-letter{/*påverkar den först bokstaven av p inom footer*/
	font-family: JohansFont;/*ändrar typsnittet till min speciella fontface, ifall det inte går återgår det till default typsnitt vilket är monospace*/
}

footer p::first-line{/*påverkar första linjen av p element inom footer*/
	color:#00ffff;/*sätter en fin textfärg på sidan*/
}



/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------Alla speciella pseudoklasser---------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

p:target::after{
	background-color: gold;
}

p:target::before {
	font: 70% sans-serif;
	content: "►";
	color: limegreen;
	margin-right: 0.25em;
}

a:link{/*påverkar alla länkar inom a*/
	color: purple;/*default textfärg är lila*/
}

a:visited{/*påverkar alla besökta a taggar*/
	color: red;/*ger dem färgen rött*/
}

a:focus, a:hover{/*påverkar alla a taggar som man har musen över eller har fokus på*/
	background-image: linear-gradient( /* gör en bakgrunds bild med dessa färger som är roterade på de grandantal so manges och färgerna täcker den procent som anges. */
		-225deg,
		rgb(70,42,168) 0%,
		rgb(96,25,172) 25%,
		rgb(255,19,97) 50%,
		rgb(255,248,0) 75%,
		rgb(70,42,168) 100%
	);
	background-clip: border-box; /* sammarbetar med background-image och skapar en låda under innehålet den är på. */
	background-size: 200% auto; /* bilden blir 200% större och repeteras automatiskt. */
	animation: färgsnurra 5s linear infinite; /* */
	border-radius: 10px;
}

a:active{/*påverkar alla aktiva a taggar*/
	color: hotpink;/*gör färgen till bästa barbie rosa*/
}



/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------Alla coola @ saker--------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@keyframes färgsnurra { /*en nyckelrams animering som jag namngett färgsnurra, specifierar en övergång från nuvarande till målet, använder "to" som säger att målet är när den är helt ur skärmens storlek, 200% från vänster. I samband med att bakgrunden looper oändligt gör att det blir en fin övergång mellan start och slutet på de olika "sidorna"*/
	to {
		background-position: 200% center; 
	}
}

@font-face {/*skapar egen fontfamily med font-face*/
	font-family: JohansFont;/*namn på min fontfamily*/
	src: url(../FONTS/Sauce-Tomato-BF6633881064aa7.otf);/*den enda fonten som används är en som jag hittade online som var fri att använda*/
}



/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------Alla media queries--------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width:342px){/*aktiveras enbart om det finns en skärm och den skärmen är mindre än 342px i bredd*/
	body > p{/*påverkar p element direkt inuti body*/
		display: contents;/*gör innehållet synligt*/
	}
	.wrapper{/*påverkar allt inom wrapper*/
		display: none;/*gör innehållet synligt*/
	}
	/*hela denna saken är ett felmeddelande system som varnar om skärmen är för liten och inte kommer fungera bra med hemsidan*/
}

@media screen and (max-width: 480px){/*aktiveras enbart om skärmen är mindre än 480px i bredd*/
	header > nav > ul {/*påverkar ul direkt inuti nav direkt inuti header*/
		grid-template-areas: /*ändrar layouten av globalmenyn*/
		"hem hem" /*sätter hemknappen över allt*/
		"vad anvandning";/*under hem så delas det upp i 2 som är för vad och användning*/
		grid-template-columns:1fr 1fr;/*säger att det är uppdelat i 2 kolumner*/
		grid-template-rows: 1fr 1fr;/*samma men för 2 rader*/
	}

	main, #industriellanvandning main {/*påverkar main samt industriellanvändningens main då den har högre specificitet i vanliga fall*/
		grid-template-columns: 1fr;/*gör om innehållet till enspaltslayout*/
	}
	
	main section, main article{/*påverkar alla sections och articles i main*/
		padding-left: 40px;/*sätter lite mer avstånd till kanterna så det ser lite finare ut*/
		padding-right: 40px;/*samma här*/
	}

	header h1, header a, header + nav a{/*påverkar h1 och a inom header samt a taggar inom nav efter header*/
		font-size: 1.5rem;/*ändrar textstorleken*/
	}

}

@media screen and (min-width: 2000px){/*aktiveras enbart om skärmen är bredare än 2000px, aka widescreen*/
	main{/*påverkar main*/
		grid-template-columns: 1fr 1fr 1fr;/*gör om layouten till 3 spaltslayout*/
	}
}



/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------Slut av css koden---------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
