body {
	margin: 0;
	padding: 0;
}

.wrapper {
	display: grid;
	grid-template-areas:
		"header"
		"nav"
		"main"
		"footer";
	min-height: 100vh;
	max-width: 100vw;
}

#index .wrapper {
	grid-template-rows: min-content auto auto;
	grid-template-columns: 1fr;
	grid-template-areas:
		"header"
		"main"
		"footer";
}

header {
	grid-area: header;
	background-color: antiquewhite;
	height: auto;
}

nav ul {
	display: grid;
	grid-template-areas:
		"hem hem"
		"vad anvandning";
	padding-inline-start: 0;
	margin: 0;
	height: auto;
}

header + nav {
	grid-area: nav;
	display: inline-block;
}
header + nav li {
	font-size: 1.5em;
}

nav li {
	display: grid;
	background-color: aqua;
	font-size: 2em;
	border-color: black;
	border-style: dashed;
}

header nav li:first-child {
	grid-area: hem;
	height: auto;
}

header nav li:nth-child(2) {
	grid-area: vad;
	height: auto;
}

header nav li:nth-child(3) {
	grid-area: anvandning;
	height: auto;
}

nav:last-of-type {
	grid-area: nav;
	display: grid;
	grid-template-columns: auto;
}

li {
	margin-top: auto;
	margin-bottom: auto;
}

li a {
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
}

h1 {
	display: none;
}

main {
	grid-area: main;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
}

#index main {
	grid-area: main;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
}

section {
	display: block;
	margin-right: auto;
	margin-left: auto;
	font-size: 1.2em;
}

footer {
	grid-area: footer;
	position: fixed;
	bottom: 0;
	height: 70px;
	background-color: blue;
}
